<div *ngIf="loading" class="loader">
  <div class="loader__element"></div>
</div>
<div class="content">
  <div class="simpleheader">
    <h2>
      {{title}}
    </h2>
  </div>
  <div class="numbers">
    <h3>
      {{subTitle}}
    </h3>
    <div class="numbersgroup">
      <div *ngFor="let data of homeData" class="contentCard">
        <app-counter-card  *ngIf="data.type == 'counter-card'" style="width: 100px;" [duration]="1500" [digit]="data.money" [data]="data.data"
          [currency]="data.currency" [money]="data.money" [letter]="data.letter" [id]="data.id"></app-counter-card>
          <app-charts [data]="data.data" *ngIf="data.type=='chart'"></app-charts>
      </div>
    </div>
  </div>

    <div *ngFor="let item of value; let i =index" class="fix" >
     
        <br><br>
        <app-accordin-table *ngIf="item.type=='accordian-table'" [note]="item.note" [heading]="item.heading" [subHeading]="item.subHeading" [tableJson]="item.data" ></app-accordin-table>
        <app-investment-chart  [data]="item.data" *ngIf="item.type=='investmentChart'" ></app-investment-chart>
        <app-stacked-horizontal-chart [data]="item.data" *ngIf="item.type=='stackedHorizontalChart'" [heading]="item.heading"></app-stacked-horizontal-chart>
        <app-pie-chart [data]="item.data" [id]="item.id" *ngIf="item.type=='pieChart'"></app-pie-chart>
        <app-line-chart  [data]="item.data" [heading]="item.heading" *ngIf="item.type=='lineChart'" ></app-line-chart>
    </div>

    

  <a href="#chapter1" class="next">
    Next: Chapter 1 <span>&nbsp;›</span>
  </a>
</div>