<div  (click)="readMore()" class="box story " [ngClass]="{minimized: !isExpand}" >
    <h3>
    {{title}}
    </h3>
    <p *ngIf="!isExpand" class="clickhere">
    Read more
    </p>
    <img src="assets/images/{{image}}" *ngIf="image">
    <p  [ngClass]="{'displayBlock': isExpand}" [innerHTML]="data">
    </p>
    </div>




    <!-- <div (click)="readMore()" class="shade story covid minimized" >
        <h3>
    {{title}} 
        </h3>
    
        <p  *ngIf="!isExpand" class="clickhere" >
        read more
        </p>
        <p  [ngClass]="{'displayBlock': isExpand}" [innerHTML]="data">
        </p>
        </div> -->