<div class="stackedHorizontalChart">
    <ng-container>
        <h2 style="color: #0887ca">{{heading}}</h2>
    </ng-container>
    <div style="display: block;">
        <canvas #myCanvas
        baseChart
        width="6500"
        height="3000"
        [colors]="barChartColors"
        [datasets]="barChartData"
        [labels]="barChartLabels" 
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
        </canvas>
    </div>
</div>