<div (click)="readMore()" class="shade story covid expanded-box-hover box-hover" [id]="id" [ngClass]="{minimized: !isExpand}" >
    <h3>
        {{title}}
    </h3>

    <p *ngIf="!isExpand" class="clickhere">
        read more
    </p>

    <img class="cover" src="assets/images/{{image}}" *ngIf="image">
    <div class="caption">
        <svg  xmlns="http://www.w3.org/2000/svg" style="color: #0779b6;" width="40" height="30" fill="currentColor" class=" bi bi-arrow-right arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg> 
          <span class="caption" [innerHTML]="tag"></span> 
     </div>

    <p class="expanded-data" [ngClass]="{'displayBlock': isExpand}" [innerHTML]="data"></p>
</div>