<div class="shade knowledge">
    <h3 [innerHTML]="title">
        
    </h3>
    <p [innerHTML]="para1"></p>
    <p [innerHTML]="para2"></p>
    <p [innerHTML]="para3"></p>
    <p [innerHTML]="para4"></p>
    <img class="img" src="assets/images/{{image}}">
    <p [innerHTML]="para5"></p>
    <p [innerHTML]="para6"></p>
    <p [innerHTML]="para7"></p>
    <p [innerHTML]="para8"></p>
    <p [innerHTML]="para9"></p>
    <p [innerHTML]="para10"></p>
    <p [innerHTML]="quote"></p>
    <p [innerHTML]="para11"></p>
    <p [innerHTML]="para12"></p>
    <p [innerHTML]="para13"></p>
</div>