<!-- <div class="maingrid"> -->
<div class="chapterbox">
  <div class="chapterimage">
    <img src="assets/images/home/{{image}}">
  </div>
  <div class="chaptertext">
    <div class="chaptertextgroup">

      <p class="chaptersub">
        {{data}}
      </p>
      <p class="chapterblurb">{{content}}
      </p>
    </div>
  </div>
</div>

<!-- <div class="regionsgroup" style="display: none;">
  <div class="regionsbox" onclick="location.hash='chapter2centralwest'">
    <div class="regionsimage">
      <img src="images/cwrd/cwrd_photo1.jpg">
    </div>
    <div class="regionstext">
      <p class="regionsfull">
        Central and West Asia
      </p>
      <p class="regionsblurb">
        Afghanistan, Armenia, Azerbaijan, Georgia, Kazakhstan, the Kyrgyz Republic, Pakistan, Tajikistan,
        Turkmenistan, Uzbekistan
      </p>
    </div>
  </div>
  <div class="regionsbox" onclick="location.hash='chapter2east'">
    <div class="regionsimage">
      <img src="images/eard/eard_photo1.jpg">
    </div>
    <div class="regionstext">
      <p class="regionsfull">
        East Asia
      </p>
      <p class="regionsblurb">
        The People’s Republic of China, Mongolia
      </p>
    </div>
  </div>
  <div class="regionsbox" onclick="location.hash='chapter2pacific'">
    <div class="regionsimage">
      <img src="images/pard/pard_photo1.jpg">
    </div>
    <div class="regionstext">
      <p class="regionsfull">
        Pacific
      </p>
      <p class="regionsblurb">
        The Cook Islands, Fiji, Kiribati, the Marshall Islands, the Federated States of Micronesia, Nauru, Niue,
        Palau, Papua New Guinea, Samoa, Solomon Islands, Timor-Leste, Tonga, Tuvalu, Vanuatu
      </p>
    </div>
  </div>
  <div class="regionsbox" onclick="location.hash='chapter2south'">
    <div class="regionsimage">
      <img src="images/sard/sard_photo1.jpg">
    </div>
    <div class="regionstext">
      <p class="regionsfull">
        South Asia
      </p>
      <p class="regionsblurb">
        Bangladesh, Bhutan, India, Maldives, Nepal, Sri Lanka
      </p>
    </div>
  </div>
  <div class="regionsbox" onclick="location.hash='chapter2southeast'">
    <div class="regionsimage">
      <img src="images/serd/serd_photo1.jpg">
    </div>
    <div class="regionstext">
      <p class="regionsfull">
        Southeast Asia
      </p>
      <p class="regionsblurb">
        Cambodia, Indonesia, the Lao People’s Democratic Republic, Malaysia, Myanmar, the Philippines, Thailand,
        Viet Nam
      </p>
    </div>
  </div>
</div> -->