<div class="accordinTable">
<ng-container>
         <h2>{{heading}}</h2>
         <p style="font-size: 20px; font-weight:800;">{{subHeading}}</p>
         <hr style="color: rgb(255, 123, 0); height: 2px; margin-top: -15px;">
</ng-container>

<table class="fold-table accordianTable">
    <ng-container *ngFor="let item of tableJsonData">
        <ng-container *ngIf="item.type === 'main-title'">
            <thead *ngFor="let titles of item.data; let i = index">
                <tr [ngClass]="{'title-row': i  === 2}">
                    <ng-container *ngFor="let titleItem of titles; let i = index">
                        <th  class="w-14 font-bold" [attr.colspan]="titleItem.colspan" [attr.rowspan]="titleItem.rowspan"
                        [ngClass]="{'lastThClass': ((titles.length - 1) ==  i), 'width-40': i === 0, 'width-10': i > 0}" [ngStyle]="{'text-align': titleItem.colspan > 0 ? 'center' : 'left'}">
                            {{titleItem.title}} 
                        </th>
                    </ng-container>
                </tr>
            </thead>
        </ng-container>
        <tbody>
            <ng-container *ngIf="item.type === 'expansion-panel'">
                    <tr class="view open" (click)="openAccordin($event)">
                        <td *ngFor="let subT of item.subTitle; let subIndex = index" class="{{subT.class + ' w-14 font-bold'}}" [ngClass]="{'width-40': subIndex === 0, 'width-10': subIndex > 0}">{{subT.title}}</td>
                    </tr>
                    <tr class="fold open">
                        <td colspan="7">
                            <ng-container *ngTemplateOutlet="commonSubTable; context: {item: item}">
                            </ng-container>
                        </td>
                    </tr>
            </ng-container>
        </tbody>
    </ng-container>
</table>


<ng-template #commonSubTable let-item=item>
    <div class="fold-content" *ngFor="let trData of item.subData; let trIndex = index">
        <table class="fold-table">
            <tbody>
                <tr *ngFor="let tableContent of trData; let subTableIndex = index" class="{{tableContent.class}}">
                    <ng-container *ngFor="let item of tableContent | keyvalue; let i = index">
                        <td 
                        [ngClass]="{'totalCls': (i > 4), 'width-40': i === 0, 'width-10': i > 0}" *ngIf="item.key != 'class'">{{item.value}}</td>
                    </ng-container>
                    
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<div style="font-size: small; font-weight: 5px;" *ngFor="let note of note">{{note}}</div>
</div>