<h2 style="text-align: center;">Percentage Of ADB's Committed Operation Supporting Each Strategy 2030 Priority</h2>
<div class="chartP">
    <div class="pie" [hidden]="!chart">
        <div class="verticalLine">
            <b style="color:orange">PRIORITY 1</b>
            <p>Addresing Remaining <br> Poverty </p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op1_color.png" alt="">
        </div>
        <canvas id="canvas1"></canvas>
    </div>


    <div class="pie " [hidden]="!chart">
        <div class="verticalLine">
            <b style="color:rgb(118, 184, 20)">PRIORITY 2</b>
            <p>Accelerating Progress <br> in Gender Equality</p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op2_color.png" alt="">
        </div>
        <canvas id="canvas2"></canvas>
    </div>

    <div class="pie" [hidden]="!chart">
        <div class="verticalLine">
            <b style="color: rgb(46, 243, 177);">PRIORITY 3</b>
            <p>Promoting Rural <br> Development</p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op3_color.png" alt="">
        </div>
        <canvas id="canvas3"></canvas>
    </div>

    <div class="pie" [hidden]="!chart">
        <div class="verticalLine">
            <b style="color: rgb(91, 167, 255)"> PRIORITY 4</b>
            <p>Making Cities <br> More Livable</p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op5_color.png" alt="">
        </div>
        <canvas id="canvas4"></canvas>
    </div>
    <div class="pie" [hidden]="!chart">
        <div class="verticalLine">
            <b style="color: rgb(255, 104, 78)"> PRIORITY 5</b>
            <p>Fosting Regional <br>Cooperation and Integration</p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op6_color.png" alt="">
        </div>
        <canvas id="canvas5"></canvas>
    </div>
    <div class="pie" [hidden]="!chart">
        <div class="verticalLine">
            <b style="color: rgb(39, 255, 31)"> PRIORITY 6</b>
            <p>Strengthening <br> Governance</p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op7_color.png" alt="">
        </div>
        <canvas id="canvas6"></canvas>
    </div>
    <div class="pie" [hidden]="!chart">
        <div class="verticalLine">
            <b style="color: rgb(32, 255, 162)"> PRIORITY 7</b>
            <p>Tackling Climate <br> Change</p><br><br><br><br><br> <br><br><br><br><br>
            <img class="img" src="../../../../assets/images/op4_color.png" alt="">
        </div>
        <canvas id="canvas7"></canvas>
    </div>
</div>