<div class="accordinTable" style="margin-bottom: 70px;">
    <ng-container>
             <p class="financialHeading" [innerHTML]="heading"></p>
             <p class="financialSubHeading" [innerHTML]="subHeading"></p>
    </ng-container>
    
    <div class="appendix-table appendixOne">
        <table class="ap-table accordianTable">
            <ng-container *ngFor="let item of tableJsonData">
                <ng-container *ngIf="item.type === 'main-title'">
                    <thead *ngFor="let titles of item.data; let i = index">
                        <tr style="border-top: 2px solid blue;">
                            <ng-container *ngFor="let titleItem of titles; let i = index">
                                <th class="w-14 font-bold {{ titleItem?.class }}" [attr.colspan]="titleItem.colspan" [attr.rowspan]="titleItem.rowspan"
                                [innerHTML]="titleItem.title">
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                </ng-container>
                <tbody>
                    <ng-container *ngIf="item.type === 'expansion-panel'">
                            <tr class="view open" (click)="openAccordin($event)">
                                <td *ngFor="let subT of item.subTitle; let subIndex = index" class="{{subT.class + ' w-14 font-bold'}}" [ngClass]="{'width-40': subIndex === 0, 'width-10': subIndex > 0}"  [innerHTML]="subT.title"  >
        
                                </td>
                            </tr>
                            <tr class="fold open" *ngFor="let rowData of item.subData">
                                <!-- <td> -->
                                    <ng-container>
                                        <ng-container *ngFor="let trData of rowData; let trIndex = index">
                                            <ng-container *ngTemplateOutlet="commonSubTable; context: {item: trData}">
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                <!-- </td> -->
                            </tr>
                    </ng-container>
                </tbody>
            </ng-container>
        </table>
    </div>
    
    
    <ng-template #commonSubTable let-item=item>
        <!-- <div class="fold-content" *ngFor="let trData of item.subData; let trIndex = index"> -->
            <!-- <table class="fold-table">
                <tbody> -->
                    <!-- <tr *ngFor="let tableContent of trData; let subTableIndex = index" class="{{tableContent.class}}"> -->
                        <!-- <ng-container *ngFor="let item of tableContent | keyvalue; let i = index"> -->
                                <td [innerHTML]="item.value | customDecimal: item.value > 100" class="text-align-right {{ item?.class }}"></td>
                        <!-- </ng-container> -->
                    <!-- </tr> -->
                <!-- </tbody>
            </table> -->
        <!-- </div> -->
    </ng-template>
    <div class="noteText" *ngFor="let note of note" [innerHTML]="note"></div>
    </div>