@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}
p {
  font-family: Lato;
}
.container{
  width: 100%;
  padding-left: 30px;
}
.upperLine{
  width: 97%;
  border-top: 2px solid #017cb2;

}

.heading {
  color: #0181bd;
  font-size: 25px;
  border-bottom: 1px solid;
  padding-top: 30px;
}
.class {
  padding-top: 50px;
  text-align:left;
}

.headingDollar {
  padding-top: 8px;
  color: #007db7;
  font-size: 20px;
}

.headingText {
  color: #007db7;
  font-weight: bolder;
  font-size: 50px;
}

.headingTextOne {
  color: #007db7;
  font-size: 25px;
}
.para {
  border-top: 1px solid;
  padding-top: 5px;
  color: #007db7;
  font-size: 21px;
  font-weight: bolder;
}
.pie {
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;  
  width: 100%;
}

.pieClass {
  display: flex;
  flex-direction: column;
  margin: -50px 0px 0px 65px;
}

/* basic positioning */
.legend {
  padding-inline-start:1px;
  list-style: none;
  padding-top: 10px;
}
.legend li {
padding-bottom: 5px;
  border-bottom: 1px solid #8cd8f7;
}
.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin: 1px;
}
/* your colors */
.legend .legendOne {
  background-color: #f46e1a;
  margin-right: 10px;
}
.legend .legendTwo {
  margin-right: 10px;
  background-color: #abacae;
}


.pieClassOne {
  display: flex;
  flex-direction: column;

  padding-left: 63px;
  margin: -50px 0px 0px 65px;
}



@media screen and (max-width:767px){
  .pie{justify-content: center;align-items: center;flex-direction: column;}
  .pie .class{text-align: center; margin: 0;}
  .pie .pieClass,
  .pie .pieClassOne{margin: 0;padding: 0px;}
}