<div class="upperLine"> </div>
<div class="container"> 
<div class="heading">COVID-19 RESPONSE,<br />SOVEREIGN PROJECTS</div>
<div class="headingDollar">($MILLION)</div>

<div class="pie">
  <div class="class">
    <span class="headingText">$ 13,096</span><br />
    <span class="para">ADB&nbsp;COMMITMENTS</span>
  </div>
  <!--   
  <div class="headingTextOne">
    ADB COMMITMENTS
  </div> -->

  <div class="pieClass" [hidden]="!chart">
    <canvas id="canvas" width="200" height="200"></canvas>
  </div>
</div>
<!-- LEGEND  -->



<!-- Chart Two -->


<div class="pie">
  <div class="class">
    <span class="headingText">$ 8,170</span><br />
    <span class="para">COFINANCING</span>
  </div>
  <!--   
  <div class="headingTextOne">
    ADB COMMITMENTS
  </div> -->

  <div class="pieClassOne" [hidden]="!chart">
    <canvas id="canvasOne" width="160" height="160"></canvas>
  </div>
</div>
<!-- LEGEND  -->

<div>
<ul class="legend">
<li><span class="legendOne"></span>2021 Covid-19 Operation</li> <br>
<li><span class="legendTwo"></span>2021 NON-Covid-19 Operation</li>
</ul>
</div>


</div>