<footer>
  <div id="ios-prompt">
    <div class="prompt-dialogue">
      <p class="prompt-close">×</p>
      <p id="ios-incapable">To add the Annual Report to your iPhone/iPad please use the Safari web browser.</p>
      <p id="ios-capable">To add the Annual Report to your iPhone/iPad press and
        then <strong>Add to Home Screen</strong>.</p>
    </div>
  </div>
  <div id="body-overlay" [ngClass]="{'display-block': isShowMenu}" (click)="showMenu()"></div>
  <nav id="real-menu" class="real-menu" [ngClass]="{'show-menu': isShowMenu}">
    <ul style="cursor: pointer;">
      <li>
        <a [routerLink]="['/']"(click)="showMenu()" >Home</a>
      </li>
      <li>
        <a (click)="goToPresidentsMessage()">President's Message</a>
      </li>
      <li>
        <a (click)="goToBoardOfDirectors()">Board of Directors</a>
      </li>
      <li>
        <a (click)="goToFinancialHighlights()">Financial Highlights</a>
      </li>
      <li>
        <a (click)="goToReport(1)">1. Toward a Green and  <br>Inclusive Recovery</a>
      </li>
      <li>
        <a (click)="goToReport(2)">2. Operations</a>
      </li>
      <li class="submenu">
        <a (click)="goToReport(10)">Central and West Asia</a>
      </li>
      <li class="submenu">
        <a (click)="goToReport(11)">East Asia</a>
      </li>
      <li class="submenu">
        <a (click)="goToReport(12)">Pacific</a>
      </li>
      <li class="submenu">
        <a (click)="goToReport(13)">South Asia</a>
      </li>
      <li class="submenu last">
        <a (click)="goToReport(14)">Southeast Asia</a>
      </li>
      <li class="submenu last">
        <a (click)="goToReport(16)"> Partnering with the Private Sector</a>
      </li>
<!-- 
      <li>
        <a >3. Partnering With the Private Sector</a>
      </li> -->
      <li>
        <a (click)="goToReport(3)">3. Organizational Effectiveness</a>
      </li>
      <li>
        <a (click)="goToAppendixes()">Appendixes</a>
      </li>
      <li class="findmore">
        Find more information on adb.org:
        <ul>
          <li><a href="https://www.adb.org/sites/default/files/institutional-document/788046/adb-annual-report-2021.pdf"
              class="sub-nav find-more" target="_blank">Annual Report (PDF)</a>
          </li>
          <li><a
              href="https://www.adb.org/sites/default/files/institutional-document/788046/adb-financial-report-2021.pdf"
              class="sub-nav find-more" target="_blank">Financial Report (PDF)</a>
          </li>
          <li><a href="https://www.adb.org/documents/adb-annual-report-2020/#operational" class="sub-nav find-more"
              target="_blank">Operational
              Data</a>
          </li>
          <li><a href="https://www.adb.org/documents/adb-annual-report-2020/#organizational" class="sub-nav find-more"
              target="_blank">Organizational Information</a>
          </li>
          <li><a href="https://www.adb.org/publications/series/fact-sheets" class="sub-nav find-more"
              target="_blank">ADB Member Fact Sheets</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div id="body-overlay" [ngClass]="{'display-block': isBookmarkMenu}" (click)="openBookmarkMenu()"></div>
  <nav id="real-menu" class="real-menu" [ngClass]="{'show-bookmark-menu': isBookmarkMenu}">
    
    <div *ngFor="let bookmark of bookmarks" style="padding: 10px;">
        <div style="font-weight: bold;">{{ bookmark.title }}</div>
      <div class="bookmarkClass">
        <ul style="cursor: pointer;">
            <li *ngFor="let data of bookmark.text"><a href="javascript: void(0)" (click)="goToBookmarkPage(data)"> {{ data.text }}
                <svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" (click)="removeBookmark(data)">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
            </li>
            
          </ul>
        
      </div>
    </div>
  </nav>

  <div class="footergroup">
    <div id="open-menu" (click)="showMenu()">
      <span>Menu</span>
    </div>
    <div class="copyright">
      <a [routerLink]="['/']">ADB&nbsp;Annual&nbsp;Report&nbsp;<span>2021</span></a>
    </div>
    <div>
        <div id="social-bookmark" class="bookmark" (click)="openBookmarkMenu()">
            <span>Bookmark
            </span>
          </div>
        <div id="social-share" class="share" (click)="openSocialMenu()">
          <span>Share</span>
        </div>
    </div>
  </div>
  <div id="social-overlay" [ngClass]="{'display-block': isSocialMenu}" (click)="openSocialMenu()"></div>
  <div id="social-pop" [ngClass]="{'social-menu': isSocialMenu}">
    <ul class="social-list">
      <li class="facebook-share"><a
          href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.adb.org%2Far2020%2Fdigital" target="_blank"
          rel="noopener noreferrer">FACEBOOK</a></li>
      <li class="twitter-share"><a
          href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.adb.org%2Far2020%2Fdigital" target="_blank"
          rel="noopener noreferrer">TWITTER</a></li>
      <li class="linkedin-share"><a
          href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.adb.org%2Far2020%2Fdigital"
          target="_blank" rel="noopener noreferrer">LINKEDIN</a></li>
      <li class="email-share"><a
          href="mailto:?subject=ADB Annual Report 2020&amp;body=The Asian Development Bank 2020 Annual Report is now available for smart devices and screens at: https://www.adb.org/ar2020/digital."
          target="_blank" rel="noopener noreferrer">EMAIL</a></li>
    </ul>
  </div>
</footer>