.show-menu {
    left: 0px;
}

.show-bookmark-menu {
    left: auto;
    right: 0px;
}

.social-menu{
    width: auto !important;
    opacity: 1 !important;
    height: auto !important;
}

.social-list{
    padding-left: 0rem !important;
}

.display-block {
    display: block !important;
}

/* overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;  */
.bookmarkClass{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}