<div class="upperLine"> </div>
<!-- Header  -->
<div class="header">
  <div class="heading">COVID-19 RESPONSE,<br />SOVEREIGN PROJECTS</div>
  <div class="headingDollar">($MILLION)</div>
</div>

<!-- Chart -->

<div class="main"> 

  <div class="chart">
    <canvas baseChart   width="1" height="1" *ngIf="pieChartData"
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [colors]="doughnutChartColors"
     >
    </canvas>
    <div>
      <ul class="legend">
        <li><span class="legendOne"></span>2021 Covid-19 Operation</li> <hr>
        <li><span class="legendTwo"></span>2021 NON-Covid-19 Operation</li> <hr>
      </ul>
      </div>

  </div>

  <div class="number">
    <h1>
      $31,594
      </h1> 
      
      

  </div>
  
  <!-- Legeng Heading -->
  <div class="legendHeading-main">
    <div class="legendHeading">

      <div class="line">

        <div style="width: 50%; text-align: left; float: left;">
          <h5>PROJECTS AND PROGRAM</h5> 
          <h6>Sovereign</h6>  
        </div>

        <div style="width: 50%; text-align: right; float: right;">
          <ul class="legend value1">
            <li><span class="legendOne"></span>$13,151</li>
            <li><span class="legendTwo"></span>$26,826</li>
          </ul>
        </div>

      </div>

      <hr>

      <div class="line">

        <div style="width: 50%; text-align: left; float: left;">
          <h6>Nonsovereign</h6><br>
          
        </div>

        <div style="width: 50%; text-align: right; float: right;">
          <ul class="legend value1">
            <li><span class="legendOne"></span>$442</li>
            <li><span class="legendTwo"></span>$1,406</li>
          </ul>
        </div>
      </div>

      <div class="line">
        <div style="width: 50%; text-align: left; float: left;">
          <h5>TRADE AND SUPPLY CHAIN
              FINANCE,AND
              MICROFINANCE PROGRAMS
          </h5>
        </div>
        
        <div style="width: 50%; text-align: right; float: right;">
          <ul class="legend value1">
            <li><span class="legendOne"></span>$2,419</li>
            <li><span class="legendTwo"></span>$3,069</li>
          </ul>
        </div>

      </div>

      <hr>

      <div class="line">

        <div style="width: 50%; text-align: left; float: left;">
          <h5>TECHNICAL ASSISTANCE</h5> 
        </div>

        <div style="width: 50%; text-align: right; float: right;">
          <ul class="legend value1">
            <li><span class="legendOne"></span>$134</li>
            <li><span class="legendTwo"></span>$294</li>
          </ul>
        </div>

      </div>
    

      <!-- <div class="title">
        <h5>PROJECTS AND PROGRAM</h5> 
        <h6>Sovereign</h6>  
        <hr>
        <h6>Nonsovereign</h6> 
        <h5>TRADE AND SUPPLY CHAIN </h5>
        <h5>FINANCE,AND</h5> 
        <h5>MICROFINANCE PROGRAMS</h5> 
        <hr>
        <h5>TECHNICAL ASSISTANCE</h5> 
        <hr>
      </div>

      <div class="values">
        <div>
          <ul class="legend value1">
          <li><span class="legendOne"></span>$123</li>
          <li><span class="legendTwo"></span>$123</li>
          </ul>
          </div>

          <div>
            <ul class="legend value2">
            <li><span class="legendOne"></span>$123</li> 
            <li><span class="legendTwo"></span>$123</li>
            </ul>
          </div>

          <div>
            <ul class="legend value3">
            <li><span class="legendOne"></span>$123</li>
            <li><span class="legendTwo"></span>$123</li>
            </ul>
          </div>

      </div> -->

    </div>
    <div class="conf">
      <div class="line">
        
        <div class="conf-number">
          <h1>16,408</h1>
        </div>
        <div>
          <h5>TECHNICAL ASSISTANCE</h5> 
        </div>
  
        <div>
          <ul class="legend value1">
            <li><span class="legendOne"></span>$10,841</li>
            <li><span class="legendTwo"></span>$5,594</li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>

  </div>






