<div class="investment-chart">
	<h2>DISBURSEMENT FOR LOANS ,GRANTS,DEBT SECURITIES,AND DEBT INVESTMENT,2016-2020</h2>
	<p>($ MILLION)</p>
	<div class="year-section">
		<div class="year-row one">
			<div class="year">2016</div>
			<div class="amount">12,489</div>
		</div>
		<div class="year-row two">
			<div class="year">2017</div>
			<div class="amount">11,443</div>
		</div>
		<div class="year-row three">
			<div class="year">2018</div>
			<div class="amount">14,186</div>
		</div>
		<div class="year-row four">
			<div class="year">2019</div>
			<div class="amount">16,470</div>
		</div>
		<div class="year-row total">
			<div class="year">2020</div>
			<div class="amount">23,585</div>
		</div>
	</div>
</div>
    