<!-- <div   class="extralinks"> -->
  <div *ngIf="loading" class="loader">
    <div class="loader__element"></div>
  </div>
  <div class="greybutton" (click)="onClick()">
    <p class="chaptersub">
      Appendixes
    </p>
  </div>
  
  <div class="downloads">
    <p class="downloadlabel">Download:
    </p>
    <p class="ar">
      <a href="https://www.adb.org/sites/default/files/institutional-document/691766/adb-annual-report-2020.pdf"
        target="_blank">Annual Report (PDF)</a>
    </p>
    <p class="fr">
      <a href="https://www.adb.org/sites/default/files/institutional-document/691766/adb-financial-report-2020.pdf"
        target="_blank">Financial Report (PDF)</a>
    </p>
  </div>
  <!-- </div> -->
<!-- </div> -->
<!-- </div> -->