<div *ngIf="loading" class="loader">
    <div class="loader__element"></div>
</div>
<div class="content">
    <div *ngFor="let data of data">
        <app-single-heading [title]="data.heading" *ngIf="data.type=='singleHeading'"></app-single-heading>
        <app-image [image]="data.data" [tag]="data.tag" *ngIf="data.type=='image'"></app-image>


    </div>
    <div class="appendix-list">
        <div class="appendix-item" *ngFor="let data of list" (click)="showImage(data.tableData)">
            <span>{{data.list}}</span><br>
            {{data.content}}
        </div>
    </div>
</div>

<div id="appendix-overlay" style="background-color: #FFF; padding: 10px;" [ngClass]="{'displayBlock': isShowImage}">
    <div class="appendix-close" (click)="showImage(null)">
        <span class="close-label">Close</span> <span class="close-icon">×</span>
    </div>

    <app-accordin-table *ngIf="tableData && tableData.type=='accordian-table'" [note]="tableData.note"
        [heading]="tableData.heading" [subHeading]="tableData.subHeading" [tableJson]="tableData.data">
    </app-accordin-table>
</div>