/* canvas {
    width: 100% !important;
    height:100% !important;
}

canvas.width{
    width: 80% !important;
    height:100% !important;
    margin: 0px auto;
} */

.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}

