
<div *ngIf="loading" class="loader">
  <div class="loader__element"></div>
</div>
<div class="content">
  <div *ngFor="let data of data">
    <app-single-heading [title]="data.heading" *ngIf="data.type=='singleHeading'"></app-single-heading>
    <app-image [image]="data.data" [tag]="data.tag" *ngIf="data.type=='image'"></app-image>


  </div>
  <div class="appendix-list">
    <div class="appendix-item" *ngFor="let data of list" (click)="showImage(data.image)">
      <span>{{data.list}}</span><br>
      {{data.content}}
    </div>
  </div>
</div>

<div id="appendix-overlay" [ngClass]="{'displayBlock': isShowImage}">

  <div id="appendix1" class="appendix-content showing" [ngClass]="{'displayBlock': isShowImage}">
    <div *ngFor="let image of sourceImages">
      <img [src]="image" class="load-after" data-arimgsrc="images/app/appendix1.png">
      <br>
      <br>
    </div>
    </div>
    <div class="appendix-close" (click)="showImage(null)">
      <span class="close-label">Close</span> <span class="close-icon">×</span>
      </div>
</div>

<br><br><br><br><br>